<div id="classList">
    <img id="pushpin" src="/images/push-pin.jpg"/>
  <% if (classes.length == 0) { %>
    <h2>Nothing in your schedule yet!</h2>
  <% } else { %>
    <% for (var i=0; i<classes.length; i++) { %>
      <ul>
      <li><a href="/classes/<%= classes[i]._id %>/student"><%= classes[i].subject %> Period <%= classes[i].period %></a></li>
      <br>
      <% } %>
      </ul>
  <% } %>
  <br><br>
</div>
