<a id="back" href="/">Back</a>
<% if (specificClass.group.length == 0) { %>
  <h3>No Group Work Today</h3>
<% } %>

<br>
<% for (var i=0; i<specificClass.group.length; i++) { %>
  <div id="studentGroup">
      <img id="bluepushpin" src="/images/blue-push-pin.png"/>
      <h5>Group <%= i +1 %></h5><br>
      <% var name = specificClass.group[i] + "" %>
      <h5><%= name.split(',').join(',  ') %></h5>
  </div>
  <br>
<% } %>
