<h1> Welcome <%= currentUser.firstName %> </h1>

<% if (classes.length == 0) { %>
  <h2>Let's add your schedule!</h2>
<% } else { %>
  <% for (var i=0; i<classes.length; i=i+1) { %>
    <a href="/classes/<%= classes[i]._id %>"><%= classes[i].subject %> Period <%= classes[i].period %></a>
    <br>
  <% } %>
<% } %>
<br><br>
<form action="/classes" method="post">
  <label for="inputname">Subject</label>
  <input id="inputname" type="text" name="class[subject]"/>

  <label for="inputpassword">Period</label>
  <input id="inputpassword" type="text" name="class[period]" />

  <input class="loginsubmit submit" type="submit" class="btn btn-primary"/>
</form>
